In [1]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data["Age"]

print(first)

Name
Avery Bradley    25
Jae Crowder      25
John Holland     27
R.J. Hunter      22
Jonas Jerebko    29
                 ..
Trey Lyles       20
Shelvin Mack     26
Raul Neto        24
Tibor Pleiss     26
Jeff Withey      26
Name: Age, Length: 457, dtype: int64

In [2]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data["Team"]

print(first)

Name
Avery Bradley    Boston Celtics
Jae Crowder      Boston Celtics
John Holland     Boston Celtics
R.J. Hunter      Boston Celtics
Jonas Jerebko    Boston Celtics
                      ...
Trey Lyles            Utah Jazz
Shelvin Mack          Utah Jazz
Raul Neto             Utah Jazz
Tibor Pleiss          Utah Jazz
Jeff Withey           Utah Jazz
Name: Team, Length: 457, dtype: object

In [3]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data["Salary"]

print(first)

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
                   ...
Trey Lyles       2239800.0
Shelvin Mack     2433333.0
Raul Neto         900000.0
Tibor Pleiss     2900000.0
Jeff Withey       947276.0
Name: Salary, Length: 457, dtype: float64

In [4]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Position")

#retrieving columns by indexing operator
first = data["Weight"]

print(first)

Position
PG    180
SF    235
SG    205
SG    185
PF    231
     ...
PF    234
PG    203
PG    179
C     256
C     231
Name: Weight, Length: 457, dtype: int64

In [5]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Number")

#retrieving columns by indexing operator
first = data["College"]

print(first)

Number
0                 Texas
99            Marquette
30    Boston University
28        Georgia State
8                   NaN
            ...
41             Kentucky
8                Butler
25                  NaN
21                  NaN
24               Kansas
Name: College, Length: 457, dtype: object

In [6]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data[["Age","College","Salary"]]

print(first)

               Age            College     Salary
Name
Avery Bradley   25              Texas  7730337.0
Jae Crowder     25          Marquette  6796117.0
John Holland    27  Boston University        NaN
R.J. Hunter     22      Georgia State  1148640.0
Jonas Jerebko   29                NaN  5000000.0
...            ...                ...        ...
Trey Lyles      20           Kentucky  2239800.0
Shelvin Mack    26             Butler  2433333.0
Raul Neto       24                NaN   900000.0
Tibor Pleiss    26                NaN  2900000.0
Jeff Withey     26             Kansas   947276.0

[457 rows x 3 columns]

In [7]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Age")

#retrieving columns by indexing operator
first = data[["Team","Number","Position"]]

print(first)

               Team  Number Position
Age
25   Boston Celtics       0       PG
25   Boston Celtics      99       SF
27   Boston Celtics      30       SG
22   Boston Celtics      28       SG
29   Boston Celtics       8       PF
..              ...     ...      ...
20        Utah Jazz      41       PF
26        Utah Jazz       8       PG
24        Utah Jazz      25       PG
26        Utah Jazz      21        C
26        Utah Jazz      24        C

[457 rows x 3 columns]

In [8]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Salary")

#retrieving columns by indexing operator
first = data[["Height","Weight","College"]]

print(first)

           Height  Weight            College
Salary
7730337.0   2-Jun     180              Texas
6796117.0   6-Jun     235          Marquette
NaN         5-Jun     205  Boston University
1148640.0   5-Jun     185      Georgia State
5000000.0  10-Jun     231                NaN
...           ...     ...                ...
2239800.0  10-Jun     234           Kentucky
2433333.0   3-Jun     203             Butler
900000.0    1-Jun     179                NaN
2900000.0   3-Jul     256                NaN
947276.0   Jul-00     231             Kansas

[457 rows x 3 columns]

In [10]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [11]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc["Kelly Olynyk"]
second = data.loc["Jarrett Jack"]

print(first, "\n\n\n", second)

Team        Boston Celtics
Number                  41
Position                 C
Age                     25
Height              Jul-00
Weight                 238
College            Gonzaga
Salary           2165160.0
Name: Kelly Olynyk, dtype: object


 Team        Brooklyn Nets
Number                  2
Position               PG
Age                    32
Height              3-Jun
Weight                200
College      Georgia Tech
Salary          6300000.0
Name: Jarrett Jack, dtype: object

In [14]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc["Robin Lopez"]
second = data.loc["Henry Sims"]

print(first, "\n\n\n", second)

Team        New York Knicks
Number                    8
Position                  C
Age                      28
Height               Jul-00
Weight                  255
College            Stanford
Salary           12650000.0
Name: Robin Lopez, dtype: object


 Team        Brooklyn Nets
Number                 14
Position                C
Age                    26
Height             10-Jun
Weight                248
College        Georgetown
Salary           947276.0
Name: Henry Sims, dtype: object

In [16]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc["Jerian Grant"]
second = data.loc["Wayne Ellington"]

print(first, "\n\n\n", second)

Team        New York Knicks
Number                   13
Position                 PG
Age                      23
Height                4-Jun
Weight                  195
College          Notre Dame
Salary            1572360.0
Name: Jerian Grant, dtype: object


 Team         Brooklyn Nets
Number                  21
Position                SG
Age                     28
Height               4-Jun
Weight                 200
College     North Carolina
Salary           1500000.0
Name: Wayne Ellington, dtype: object

In [20]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc[["Avery Bradley", "R.J. Hunter"]]

print(first)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
R.J. Hunter    Boston Celtics      28       SG   22  5-Jun     185

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [23]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc[["Avery Bradley", "R.J. Hunter"],
                ["Team","Number","Position"]]

print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
R.J. Hunter    Boston Celtics      28       SG

In [24]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data.loc[:, ["Team","Number","Position"]]
          

print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
Jae Crowder    Boston Celtics      99       SF
John Holland   Boston Celtics      30       SG
R.J. Hunter    Boston Celtics      28       SG
Jonas Jerebko  Boston Celtics       8       PF
...                       ...     ...      ...
Trey Lyles          Utah Jazz      41       PF
Shelvin Mack        Utah Jazz       8       PG
Raul Neto           Utah Jazz      25       PG
Tibor Pleiss        Utah Jazz      21        C
Jeff Withey         Utah Jazz      24        C

[457 rows x 3 columns]

In [26]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving rows by iloc method
row2 = data.iloc[3]
          

print(row2)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [27]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple rows by iloc method
row2 = data.iloc [[3,5,7]]
          

print(row2)

                        Team  Number Position  Age  Height  Weight  \
Name
R.J. Hunter   Boston Celtics      28       SG   22   5-Jun     185
Amir Johnson  Boston Celtics      90       PF   29   9-Jun     240
Kelly Olynyk  Boston Celtics      41        C   25  Jul-00     238

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [28]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple rows by iloc method
row2 = data.iloc [[61,62,63]]
          

print(row2)

                            Team  Number Position  Age Height  Weight  \
Name
Bismack Biyombo  Toronto Raptors       8        C   23  9-Jun     245
Bruno Caboclo    Toronto Raptors      20       SF   20  9-Jun     205
DeMarre Carroll  Toronto Raptors       5       SF   29  8-Jun     212

                  College      Salary
Name
Bismack Biyombo       NaN   2814000.0
Bruno Caboclo         NaN   1524000.0
DeMarre Carroll  Missouri  13600000.0

In [29]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving two rows and two columns by iloc method
row2 = data.iloc [[3,5],[1,2]]
          

print(row2)

              Number Position
Name
R.J. Hunter       28       SG
Amir Johnson      90       PF

In [31]:
#importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving two rows and two columns by iloc method
row2 = data.iloc [[4,5],[6,7]]
          

print(row2)

              College      Salary
Name
Jonas Jerebko     NaN   5000000.0
Amir Johnson      NaN  12000000.0

In [1]:
#importing pandas as pd
import pandas as pd
#Creating the Dataframe
df = pd.DataFrame({'Weight':[45,88,56,15,17],
                  'Name':['Sam','Andrea','Alex','Robin','Kia'],
                  'Age':[14,25,55,8,21]})
#Creating the index
index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']

#Set the index.
df.index =  index_

#printing the dataframe
print(df)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      17     Kia   21

In [2]:
#return the value
result = df.loc['Row_2','Name']
print(result)

Andrea

In [3]:
result = df.loc['Row_4','Name']
print(result)

Robin

In [5]:
result = df.loc['Row_5','Name']
print(result)

Kia

In [6]:
#importing pandas as pd
import pandas as pd
df = pd.DataFrame({"A":[12,4,5,2,1],
                  "B":[7,2,54,3,4],
                  "C":[20,16,11,3,8],
                  "D":[14,3,8,2,6]})
index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']
df.index = index_
print(df)

        A   B   C   D
Row_1  12   7  20  14
Row_2   4   2  16   3
Row_3   5  54  11   8
Row_4   2   3   3   2
Row_5   1   4   8   6

In [7]:
resuult = df.loc[:, ['A','D']]
print (result)

Kia

In [8]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

#printing the dataframe
car_df

             Model Name  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 240D     4         4
3              Merc 230     4         4
4              Merc 280     5         6
5             Merc 280C     4         6
6            Merc 450SE     3         8
7            Merc 450SL     3         8
8           Merc 450SLC     3         8
9    Cadillac Fleetwood     3         8
10  Lincoln Continental     3         8
11    Chrysler Imperial     3         8
12             Fiat 128     4         4
13          Honda Civic     4         4
14       Toyota Corolla     4         4

In [9]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

#printing the unique values present in the gear column
#finding the unique values present
#in the gear column using unique() function
print(f"Unique values present in the gear column are: {car_df['Gear'].unique()}")

Unique values present in the gear column are: [3 4 5]

In [10]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

#printing the unique values present in the gear column
#finding the unique values present
#in the gear column using unique() function
print(f"Unique values present in the cylinder column are: {car_df['Cylinder'].unique()}")

Unique values present in the cylinder column are: [6 8 4]

In [11]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

#finding unique values present in the 
#groups using unique() function
unique_gear = pd.unique(car_df.Gear)
unique_cyl = pd.unique(car_df.Cylinder)

#printing the unique values present in the Gear column
print(f"Unique values present in the cylinder column are: {unique_gear}")

Unique values present in the cylinder column are: [3 4 5]

In [4]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

#finding unique values present in the 
#groups using unique() function
unique_gear = pd.unique(car_df.Gear)
unique_cyl = pd.unique(car_df.Cylinder)

#printing the unique values present in the Gear column
print("Unique values present in the cylinder column are: ")

Unique values present in the cylinder column are:

In [13]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

gear_count = pd.value_counts(car_df.Gear)
cyl_count = pd.value_counts(car_df.Cylinder)
g_count = car_df['Gear'].value_counts()
cy_count = car_df['Cylinder'].value_counts()
print('----Output from the first method----')
print(gear_count)
print(cyl_count)

----Output from the first method----
3    8
4    6
5    1
Name: Gear, dtype: int64
8    7
4    5
6    3
Name: Cylinder, dtype: int64

In [17]:
#importing pandas as pd
import pandas as pd
car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear': [3,3,4,4,5,4,3,3,
                   3,3,3,3,4,4,4],
           'Cylinder': [6,8,4,4,6,6,8,
                       8,8,8,8,8,4,4,4]}
#Creating Dataframe for the data using
#pandas Dataframe Function.
car_df = pd.DataFrame(car_data)

name_count = pd.unique(car_df['Model Name'])
gear_count = pd.unique(car_df.Gear)
cyl_count = pd.unique(car_df.Cylinder)

#initializing value to 0
name_unique = 0
gear_unique = 0
cyl_unique = 0

for item in name_count:
    name_unique += 1
    
for item in gear_count:
    gear_unique += 1
    
for item in gear_count:
    cyl_unique += 1
    
print(f'Number of Unique values present in Model Name: {name_unique}')
print(f'Number of Unique values present in Gear: {gear_unique}')
print(f'Number of Unique values present in Cylinder: {cyl_unique}')

Number of Unique values present in Model Name: 15
Number of Unique values present in Gear: 3
Number of Unique values present in Cylinder: 3

In [1]:
import pandas as pd
df = pd.read_csv("nba-2.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0